@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap");
.all{
    height: 100vh;
    background-color: #395442;
    color: #f2e3b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.footer-container{
    
    display: flex;
    align-items: center ;
    flex-direction: row;
    justify-content: space-evenly;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 8px;
    margin-right: 156px;
}
.facebook{
    width: 2em;
    height: 2em;

}
.image2{
    
    position: relative;
    height: 78vh;
    display: flex;
    overflow: hidden;
    width: 20vw;
    
}

.bgbox{
  background-color: #c0a17f;
  width: 21vw;
  display: flex;
  position: relative;
  
  height: 80vh;
  bottom: 13vh;
  left: 9vw;
  
}




.top h3{
    font-size:  2.5vw;
    line-height: 10vh;
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;

    

}
.top p, .email{
    font-size: 22px;
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;
    line-height:  2.428571;
}
.email, .home{
    text-decoration: none;
    color:#f2e3b4;
    font-size: 16px;
    font-weight: 800;
    line-height: 2.1;
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;
}

.top2{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 14px
}



