.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  height: 25vh;

  padding: 0 5%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}
.header a {
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.1rem;
}
.header li {
  margin: 0 1.6rem;
}
